.header {
  height: 60px;
  background: #fff;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}
